.mydetailoverlay {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-bottom: 0;
    margin-top: 0;
    // line-height: .6;
    // font-size: .8rem;
    letter-spacing: .125rem;
    user-select: none;
}