<div class="h-custom d-flex flex-column justify-content-center position-fixed end-0 z-0">
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;portfolio&gt;</h2>
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;/portfolio&gt;</h2>
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;portfolio&gt;</h2>
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;/portfolio&gt;</h2>
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;portfolio&gt;</h2>
    <h2 id="aniverticalbanner" class="h2 text-secondary display-2 mydetailoverlay">&lt;/portfolio&gt;</h2>
</div>
